- var PageTitle = 'New Jade Boilerplates'

- var MetaDesc = 'This is my standard description fffür the meta tag'

- var GoogleFonts = 'Wellfleet'

- var modernizr = true

- var jQuery1 = false
- var jQuery2 = false
- var jQueryVersion = '2.1.3'

- var BsScripts = false
- var OwlScripts = false

- var GoogleAnalytics = false
- var UACode = 'UA-XXXXX-6'
