block config
	include config

doctype
html( lang="en" )
	include ../includes/head
	body
		include ../includes/header
		block content
			| No content here so far
		include ../includes/footer
		include ../includes/scripts
