<!-- Example 1 -->
<header>
  <code>&lt;header&gt;</code>
</header>

<section>
  <code>&lt;section&gt; <br> float: left;</code>
</section>

<aside>
  <code>&lt;aside&gt; <br> float: right;</code>
</aside>

<section class="oneThird">
  <code>&#60;section.oneThird&#62; <br> float: left;</code>
</section>

<section class="oneThird">
  <code>&#60;section.oneThird&#62; <br> float: left;</code>
</section>

<section class="oneThird">
  <code>&#60;section.oneThird&#62; <br> float: right;</code>
</section>

<section class="inline-block">
  <code>&#60;section&#62; <br> display: <br> inline-block;</code>
</section>

<section class="inline-block">
  <code>&#60;section&#62; <br> display: <br> inline-block;</code>
</section>

<section class="inline-block">
  <code>&#60;section&#62; <br> display: <br> inline-block;</code>
</section>


<footer>
  <code>&lt;footer&gt;</code>
</footer>
