extends layouts/default

append config
	- var PageTitle = 'The Row Machine - Chris Coyier'
	- var modernizr = true
	- var GoogleAnalytics = false
	
block stylesheets
	link( href='css/codepen03.css', rel='stylesheet', type='text/css' )
	
block scripts
	script( src='js/codepen03.js' )

block content
	.wrap
		include content/codepen03.html
